<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca Virtual</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<main>
    <div class="topo-site">
        <h1>Biblioteca</h1>
        <div class="topo-botoes">
            <a href="{{ url_for('novo') }}" class="btn-topo">Adicionar Livro</a>
            <a href="{{ url_for('index') }}" class="btn-topo">Início</a>
            {% if 'id_usuario' in session %}
            <a href="{{ url_for('logout') }}" class="btn-logout">Sair</a>
            {% else %}
            <a href="{{ url_for('login') }}" class="btn-log">Logar</a>
            {% endif %}
        </div>
        <div class="topo-flash">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>

    <section class="painel-livros">
        <div class="titulo-pdf">
            <h2>Lista de Livros</h2>
            <a href="{{ url_for('relatorio') }}" class="btn-log btn-pdf">Criar PDF</a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Ano de Publicação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for livro in livros %}
                <tr>
                    <td>{{ livro[0] }}</td>
                    <td>{{ livro[1] }}</td>
                    <td>{{ livro[2] }}</td>
                    <td>{{ livro[3] }}</td>
                    <td class="acoes">
                        <a href="{{ url_for('editar', id=livro[0]) }}">Editar</a>
                        <a href="{{ url_for('confirmar_delete', id=livro[0]) }}" class="btn-deletar">Deletar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
</body>
</html>
