<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <main>
      <h2>Lista de Livros</h2>
      <table>
          <thead>
          <tr>
              <th>Código</th>
              <th>Título</th>
              <th>Autor</th>
              <th>Ano de Publicação</th>
          </tr>
          </thead>
          <tbody>
          {% for livro in livros %}
          <tr>
              <td>{{ livro[0] }}</td>
              <td>{{ livro[1] }}</td>
              <td>{{ livro[2] }}</td>
              <td>{{ livro[3] }}</td>
          </tr>
          {% endfor %}
          </tbody>
      </table>
  </main>
</body>
</html>
